<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Admin Profile Page</title>
</head>
<body>
	<section class="text-center">
		<h1>Admin Profile Page</h1>
		<h6>Name: [[${user.username}]]</h6>
		<h6>Email: [[${user.email}]]</h6>
		<h6>PhoneNo: [[${user.phoneNo}]]</h6>
		<h6>Role: [[${user.role}]]</h6>
		<h6>Passord: [[${user.password}]]</h6>
		<a href="/logout">Logout</a>
	</section>
</body>
</html>